.create-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--orange);
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 0 20px 2px var(--orange);
}

.create-button:hover {
  background: white;
  color: var(--orange);
}

@media (min-width: 768px) {
  .create-button {
    right: calc(50% - 300px);
  }
}
