@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,700&display=swap');

:root {
    --dark: #0e0e0e;
    --orange: rgb(255, 98, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .25s;
}

html, body {
    font-family: 'Nunito Sans', sans-serif;
    background: var(--dark);
    color: white;
}

/* global Styles */

input {
   outline: none;
   border: none;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.text-center {
    text-align: center;
}

/* app */
.app {
    display: flex;
    flex-direction: column;
}

.app h2 {
    font-size: 2rem;
}

.app h2 strong {
    color: var(--orange);
}